/gradleReplaceSetup.sh
/WDG-BetterBuildersWands.iml
/WDG-BetterBuildersWands.ipr
/WDG-BetterBuildersWands.iws
/build/
/WDG-BetterBuildersWands.main.iml
/WDG-BetterBuildersWands.test.iml
/WDG-BetterBuildersWands.api.iml
